p {
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); /* 偏移自身宽度和高度的一半，真正居中 */
    font-size: 25px;
    line-height: 1.0;
    display: inline-block; /* 让元素的宽度根据文字内容调整 */
    padding: 20px 40px; /* 增加内边距，让椭圆有足够空间 */
    border: 2px solid black; /* 椭圆的边框 */
    border-radius: 35%; /* 设置圆角为50%，形成椭圆效果 */
    z-index: 10;
}

img {
    position: absolute;
    width: 1450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: 1;
}